section.creative-works
  .container
    .grid
      .grid__cell.grid__cell--center(class="5/6")

        article.section--main.section--our-company(class="1/4--desk 1/3--lap")

          +title({
            content01: 'Our Company',
            content02: ' great services',
            color: 'white'
          })
          p.text--dark-bg Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod

        .section--right(class="1/2--desk 2/3--lap")
          +icon-list({
            icon: 'flag',
            title: 'Creative Work',
            paragraph: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.Lorem ipsum dolor sit amet.'
          })

          +icon-list({
            icon: 'pc',
            title: 'Personal Computer',
            paragraph: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.Lorem ipsum dolor sit amet.'
          })

          +icon-list({
            icon: 'graph',
            title: 'Graph',
            paragraph: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.Lorem ipsum dolor sit amet.'
          })

          +icon-list({
            icon: 'human-face',
            title: 'Creative Working',
            paragraph: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.Lorem ipsum dolor sit amet.'
          })
