section.intro--main
  article.section--main(class = "1/3--desk 2/3--handheld 2/3--lap")

    +title({
      content01: 'Creative idea for',
      content02: ' Professionals',
      color: 'white'
    })

    p.text--dark-bg Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.

    button.btn.btn--large Read More
