ul.list--headers
  li
    a(href="#") Home
  li
    a(href="#") About us
  li
    a(href="#") Team
  li
    a(href="#") Service
  li
    a(href="#") Process
  li
    a(href="#") Client
  li
    a(href="#") Work
  li.search--logo
    img(src="img/icons/search.png" alt="search icon")
  //-li.facebook--logo
    img(scr="img/icons/icon-facebook.png" alt="facebook icon")
