include ../components/icon-list
include ../components/title
include ../components/img

doctype html
html(lang="en")
  head
    include head
  body
    .wrapper

      include header

      main
        block main

      include footer
