extends ../_base/layout

block main

  include ../sections/briefing-professionals

  include ../sections/creative-works

  include ../sections/available-work

  include ../sections/about-clients


//-
  section.page6
    article.section--left-big
      img.equip1(src="img/equipment/equipment01.png" alt="alternative")
      h1.title--black We have
        span.title--secondary Served
      img.equip2(src="img/equipment/equipment02.png" alt="alternative")
      img.equip3(src="img/equipment/equipment03.png" alt="alternative")

    article.section--right
    p.para Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.

  section.page7
    img.misc1(src="img/misc/keyboard-typing.png" alt="alternative")
    img.misc2(src="img/misc/smiling-people.png" alt="alternative")
    article
      h1.title--secondary LOREM IPSUM DOLOR
      p.para Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.
      button.btn.btn--medium Read More
    img.misc3(src="img/misc/tablet-browsing.png" alt="alternative")

  section.page8
    article.article--top
      h1.title--black Client
        span.title--secondary testimonials
      img.client--image(src="img/people/client01.png" alt="alternative")
      img.icon(src="img/icons/quotes2.png")
      p.para Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.
      p.client--name JOHN DOE,CEO
    article.article--bottom
      img.client--image(src="img/people/client02.png" alt="alternative")
      img.icon(src="img/icons/quotes2.png" alt="alternative")
      p.para Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.
      p.client--name JOHN DOE,CEO
  section.page9
    article.section--left
      span
        h1.title--white Get
      span
        h1.title--secondary in Touch
      p.para Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.

    article.section--right
      img.icon(src="img/icons/quotes1.png" alt="alternative")
      h1.title--black Agency
      p.para Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
      .email
        img.icon(src="img/icons/icon-email.png" alt="alternative")
        h3 EMAIL
        p.para free@psdfreebies.com
        p.para free@psdfreebies.com
      .call
        img.icon(src="img/icons/icon-call-us.png" alt="alternative")
        h3 CALL US!
        p.para +123 456 7890
        p.para +123 456 7890
      .address
        img.icon(src="img/icons/icon-address.png" alt="alternative")
        h3 ADDRESS
        p.para 123, Main Road, New City,
        p.para My Country 123456
      .icons
        img.icon--social-media(src="img/icons/icon-fb-black.png" alt="facebook icon")
        img.icon--social-media(src="img/icons/icon-google.png" alt="google icon")
        img.icon--social-media(src="img/icons/icon-vk.png" alt="vk icon")
        img.icon--social-media(src="img/icons/icon-youtube.png" alt="youtube icon")
        img.icon--social-media(src="img/icons/icon-linkedin.png" alt="linkedin icon")
        img.icon--social-media(src="img/icons/icon-digg.png" alt="digg icon")
        img.icon--social-media(src="img/icons/icon-z.png" alt="z icon")

