@import 'avalanche';
$orange: #FBA419;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html { font-size: 14px; }

.wrapper {
  width: 100%;
}

section {
  height: 600px;
  display: flex;
}

header {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  li,
  ul,
  .logo--header,
  a,
  p {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 5px;
  }
  p {
    font-size: 2.5em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }
  ul {
    float: right;
    padding-top: 25px;
  }
  a {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }
}

.wrapper--head {
  background-image: url("img/bg/bg-hero.png");
  background-position: center;
  height: 600px;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-size: 2.5em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bolder;
}

.title--white {
  color: white;
}

.title--secondary {
  color: $orange;
}

.section--main {
  display: inline-block;
  /*width: 30%;*/
}

.text--light-bg {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 1.3em;
}

.text--dark-bg {
  @extend .text--light-bg;
  color: white;
}

.btn {
  background-color: $orange;
  color: white;
  border-radius: 15px;
  text-align: center;
  border: 0;
  padding: {
    left: 15px;
    right: 15px;
    top: 7px;
    bottom: 6px;
  }
  margin-top: 20px;
  font-weight: bold;
  font-family: Lato Light, sans-serif;
}

.btn--large {
  font-size: 1.25em;
}

.section--left {
  display: inline-block;
  /*width: 50%;*/
  padding-right: 25px;
  margin-top: 60px;
}

.section--right {
  display: inline-block;
  float: right;
  /*width: 50%;*/
  margin-top: 60px;
}

.image-meeting {
  width: 90%;
  float: right;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  .container--2 {
    padding: {
      bottom: 80px;
    }
  }
}

.quoting {
  display: inline-block;
  padding-bottom: 100px;
  width: 5%;
}

.iconed {
  display: inline-block;
  width: 80%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #555;
  font-size: 1.1em;
}

.image--with--caption {
  position: relative;
  width: 50%;
}

.image--caption {
  width: 70%;
  color: white;
  font-family: Lato Medium, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  position: absolute;
  bottom: 5px;
  text-align: center;
  margin-left: 110px;
}

.creative-works {
  background-image: url('img/bg/bg-city.png');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.icon {
  display: inline-block;
  padding-right: 25px;
  width: 80px;
}

.boxes--creative-work {
  display: inline-block;
  width: 80%;
  font-size: 0.9em;
  h2 {
    margin: 5px;
  }
}

.section--our-company {
  padding-top: 160px;
}

.available-work--sections {
  display: inline-block;
}

.vertical--section {
  display: inline-block;
  width: 45%;
  text-align: center;
}

.aside--far-left {
  background-image: url('img/misc/organisation.png');
  padding: {
    top: 140px;
    bottom: 20px;
    right: 20px;
    left: 20px;
  }
  margin-right: 20px;
  .text--dark-bg {
    font-size: 1.1em;
  }
}

.aside--middle-left {
  @extend .aside--far-left;
  background-image: url('img/misc/office.png');
}

.vertical-section--icon {
  width: 67px;
}

.about-clients {
  padding-top: 60px;
  background-image: url('img/bg/bg-groups.png');
  text-align: center;
  background-attachment: fixed;
  background-size: cover;
}

.section--center {
  width: 70%;
  margin: 0 auto;
}

.img--people {
  width: 25%;
  padding: {
    right: 10px;
    left: 10px;
    top: 40px;
  }
}

.listing--available-works {
  list-style-image: url('img/icons/icon-checklist.png');
  list-style-position: outside;
  font-size: 1.2em;
  li {
    padding: 5px;
  }
}

footer {
  background-color: black;
  color: white;
  font-size: 1.1em;
  font-family: Lato regular;
  font-weight: bold;
  text-align: center;
  padding: 30px;
}


@media only screen and (max-width: 499px) {
  html {
    font-size: 11px;
  }
  section {
    justify-content: center;
    padding: 0 20px 0 20px;
    text-align: center;
  }
  .image--with--caption {
    width: 100%;
  }
  .section--left {
    margin-top: 5px;
    padding-right: 0;
  }
  .section--right {
    margin-top: 50px;
  }
  .image--caption {
    display: inline-block;
    color: black;
    position: static;
  }
  .briefing-professionals {
    height: 850px;
  }
  .section--our-company {
    padding-top: 50px;
  }
  .boxes--creative-work {
    width: 86%;
  }
  .creative-works {
    height: 1100px;
  }
  .icon {
    padding-top: 20px;
  }
  .vertical--section {
    float: left;
    width: 50%;
  }
  .aside--far-left {
    padding-top: 50px;
    margin-right: 5px;
  }
  .listing--available-works {
    text-align: left;
    margin-top: 50px;
  }
  .available-work {
    height: 950px;
  }
  .img--people {
    width: 50%;
  }
  .about-clients {
    height: 800px;
  }

}

@media only screen and (max-width: 800px) and (min-width: 500px) {
  html {
    font-size: 13px;
  }
  section {
    justify-content: center;
    padding: 0 20px 0 20px;
  }
  .image--with--caption {
    width: 70%;
    margin: 0 auto;
  }
  .section--left {
    margin-top: 5px;
    padding-right: 0;
  }
  .section--right {
    margin-top: 50px;
  }
  .image--caption {
    display: inline-block;
    color: black;
    position: static;
  }
  .briefing-professionals {
    height: 850px;
  }
  .section--our-company {
    padding-top: 50px;
  }
  .boxes--creative-work {
    width: 86%;
  }
  .creative-works {
    height: 1100px;
  }
  .icon {
    padding-top: 20px;
  }
  .vertical--section {
    float: left;
    width: 50%;
  }
  .aside--far-left {
    padding-top: 50px;
    margin-right: 5px;
  }
  .listing--available-works {
    text-align: left;
    margin-top: 50px;
  }
  .available-work {
    height: 950px;
  }
  .img--people {
    width: 30%;
  }
  .about-clients {
    height: 800px;
  }

}

@media only screen and (max-width: 1024px) and (min-width: 801px) {
  html {
    font-size: 12px;
  }
  .wrapper--head {
    height: 500px;
  }
  .section--main {
    margin: 50px auto 0 100px;
  }
  .briefing-professionals {
    height: 480px;
  }
  .image--with--caption {
    width: 30%;
    margin-top: 16%;
  }
  .image--caption {
    position: static;
    color: black;
    margin: 0 auto;
  }
  .section--our-company {
    margin: 0;
  }
  .creative-works {
    height: 480px;
  }
  .creative-works .section--right {
    margin: 50 auto;
  }
  .vertical--section {
    margin-top: 50px;
  }
  .aside--far-left {
    padding-top: 100px;
    margin-right: 5px;
  }
  .about-clients {
    height: 500px;
  }
}
